<!doctype html>
<html lang="ja">
	<head>
    <!-- metaタグはheadタグの中に記載する。コンテンツ上では表示されない。
		headタグ内には検索エンジンやブラウザのための情報を記載 -->
	<meta charset="UTF-8">
	<!--descriptionには記事の要約を記載する-->
	<meta name="description" content="ダフィオのための特設サイト">
	<!--viewportはモバイル端末での表示をブラウザに指示するためのメタタグ、以下はGoogle推奨の記述-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--titleには記事のタイトルを記載する-->
	<title>ダフィオ記念館</title>
	<!--linkタグは「そのページ」と「外部のファイルやページ」を関連づけるためのもの
	ここではrelでファイルとの関係性を示し、media=allで全てのメディアに適用、
	hrefでファイルがある場所を指定している-->
	<link rel="stylesheet" media="all" href="css/style.css">
	<!--scriptでjavascriptを埋め込む。srcはsourceの意味で情報元を指す-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="js/script.js"></script>
	<style>
	.container {
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.ul{
		list-style: none;
	}

	.list{
		list-style: none;
		right: 0px;
		display: flex;
		writing-mode: vertical-rl;
	}

	.item{
		padding:20px 0;
	}
	</style>
    </head>
	<body>
		<h1>ダフィオ記念館</h1>
			<div class="wrapper">
						<ul class="list">
							<li class = "item"><a href="{% url 'ani:top' %}">TOP</a></li>
							<li class = "item"><a href="{% url 'ani:profile' %}">自己紹介</a></li>
							<li class = "item"><a href="{% url 'ani:diary' %}">日記</a></li>
							<li class = "item"><a href="{% url 'ani:album' %}">アルバム</a></li>
							<li class = "item"><a href="{% url 'ani:fortune' %}">ダフィオ占い</a></li>
						</ul>
				
			</div>
	</body>
	{% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>