{% extends 'diary/base.html' %}
{% block content %}
    <table class="table">
        <tr>
            <th>タイトル</th>
            <td>{{ day.title }}</td>
        </tr>
        <tr>
            <th>本文</th>
            <td>{{ day.text | linebreaksbr}}</td>
        </tr>
        <tr>
            <th>日付</th>
            <td>{{ day.date }}</td>
        </tr>
    </table>
    <a href="{% url 'ani:update' day.pk %}"><button class="btn btn-primary">更新</button></a>
    <a href="{% url 'ani:delete' day.pk %}"><button class="btn btn-danger">削除</button></a>    

{% endblock %}