{% extends 'ani/base.html' %}

{% block content %}
<body id="top">
	<div id="wrapper">
		<div id="sidebar">
			<div id="sidebarWrap">
				<nav id="mainnav">
					<p id="menuWrap"><a id="menu"><span id="menuBtn"></span></a></p>
					<div class="panel">
						<ul>
							<li><a href="#top">TOP</a></li>
							<li><a href="#sec01">自己紹介</a></li>
							<li><a href="#sec02">日記</a></li>
							<li><a href="#sec03">アルバム</a></li>
							<li><a href="#sec04">ダフィオ占い</a></li>
							<li><a href="#sec05">COMPANY</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</body>
{% endblock %}
